<h1><div class="p-3 mb-2 bg-success-subtle text-success-emphasis"><%= @places["name"] %></div></h1>

<h2>My Entries</h2>

<div class= "row">
<% for entry in @entries %>
  <div class="col-md-4">
    <h3><%= entry["title"] %></h3>
    <h4><%= entry["occurred_on"] %></h4>
    <p><%= entry["description"] %></p>
        <% if entry.uploaded_image.attached? %>
        <img src="<%= url_for(entry.uploaded_image) %>" class="img-fluid" style="width: 150px; height: 150px;">
        <% end %>
    </div>
  <% end %>
</div>

<div class="d-grid gap-2 d-md-block pt-3 pb-3">
  <a class="btn btn-secondary btn-sm" href="/entries/new?place_id=<%= @places["id"] %>">New Entry</a>
  <a class="btn btn-secondary btn-sm" href="/places" >Back to All Places</a>
</div>